<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creasy.code.dao.IAuthCodeDao">
    <select id="getNewestAuthCode" resultType="com.creasy.pojo.LagouAuthCode" parameterType="com.creasy.pojo.LagouAuthCode">
        select * from lagou_auth_code
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
        </where>
        order by id desc limit 1;
    </select>

    <insert id="saveAuthCode" parameterType="com.creasy.pojo.LagouAuthCode" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into lagou_auth_code (email,code,createtime,expiretime)
        values (#{email},#{code},#{createtime},#{expiretime})
    </insert>
</mapper>