<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>demo2servlet</servlet-name>
        <servlet-class>com.creasy.Demo2Servlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>demo2servlet</servlet-name>
        <url-pattern>/demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>demoservlet</servlet-name>
        <servlet-class>com.creasy.DemoServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>demoservlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
</web-app>
